<div class="limiter">
  <div class="container-login100"
       style="background-image: url('assets/loginTemplate/images/bg-01.jpg');background-size: cover">
    <div style="margin-top: 100px" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <h3 style="text-align: center">Create Address form</h3>
      <form [formGroup]="formAddress" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="name">Name</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" type="text" name="company" formControlName="street">
              <p style="color:red;" *ngIf="formAddress.get('street').invalid && formAddress.get('street').touched">The number of characters is more than 5</p>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">District</div>
          <div class="value">
            <div class="input-group">
              <div class="rs-select2 js-select-simple select--no-search">
                <select name="subject" formControlName="districts" style="width: 150px">
                  <option selected="selected" *ngFor="let districts of districts" [ngValue]=districts>{{districts.name}}</option>
                </select>
                <div class="select-dropdown"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Cities</div>
          <div class="value">
            <div class="input-group">
              <div class="rs-select2 js-select-simple select--no-search">
                <select name="subject" formControlName="districts">
                  <option selected="selected" *ngFor="let cities of districts" [ngValue]=cities>{{cities.cities.name}}</option>
                </select>
                <div class="select-dropdown"></div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-danger" type="submit">Create</button>
          <a routerLink="/address" class="btn btn-success" style="text-align: center;margin-left: 10px">Address list</a>
        </div>
      </form>
    </div>
  </div>
</div>
