<div class="col-md-4 offset-md-4 mt-md-5" style="border: solid lightblue;background-color: lightcyan;">
  <p style="font-size: larger ;color: red">{{message}}</p>
  <div class="row col-md-6 offset-md-3">
    <h3 class=" offset-md-2 mt-md-3">
      <a routerLink="/"><b>TOAM</b></a>
      <i style="position: relative ; left: 20px"
         class="fa fa-home"></i>
    </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row mt-3 ">

        <h3>Đăng Kí Tài Khoản <span class="fa fa-registered"></span></h3>


        <div class="form-row mt-md-3">
          <div class="form-group col-md-6">
            <label for="inputEmail4" class="col">Name</label>
            <label>
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </label>
            <label *ngIf="form.get('name').invalid && form.get('name').touched" style="color: red">
              Name is required and min length is 6
            </label>
          </div>
          <div class="form-group col-md-6">
            <label class="col">UserName</label>
            <label>
              <input type="text" class="form-control" placeholder="UserName" formControlName="username">
            </label>
            <div *ngIf="form.get('username').invalid && form.get('username').touched" style="color: red">
              Name is required and min length is 6
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" formControlName="password"
                   placeholder="Password">
            <div *ngIf="form.get('password').invalid && form.get('password').touched" style="color: red">
              Password is required and min length is 6
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email">
            <div *ngIf="form.get('email').invalid && form.get('email').touched" style="color: red">
              Email is required and have @
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Phone</label>
            <label>
              <input type="text" class="form-control" formControlName="phone" placeholder="Phone Number">
            </label>
            <div *ngIf="form.get('phone').invalid && form.get('phone').touched" style="color: red">
              Phone is required and min length is 6
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Role</label>
            <select id="inputState" class="form-control" formControlName="role" required>
              <option selected>Role</option>
              <option *ngFor="let role of roles" [ngValue]=role>
                {{role.name}}
              </option>
            </select>
          </div>
        </div>
        <div class=" mt-md-3 col-md-6 mb-md-3">
          <button type="submit" class="btn btn-secondary">Đăng Ký</button>
        </div>
        <div class="col-md-6 mt-md-3 mb-md-3">
          <a routerLink="/login" class="btn btn-secondary off-md-1">Đăng Nhập</a>
        </div>

      </div>

    </form>

  </div>

</div>

