<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/loginTemplate/images/bg-01.jpg');background-size: cover">
    <div style="margin-top: 100px;background-color: white;border-radius: 20px;text-align: center">
  <table class="table table-hover">
    <a routerLink="/host/host-income">History Contract</a>

    <thead>
      <th>ID</th>
      <th>Create time</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>Property</th>
      <th>Renter</th>
      <th>Phone</th>
      <th>Status</th>

      <th colspan="2">Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contracts">
      <td>{{contract.id}}</td>
      <td>{{contract.createTime}}</td>
      <td>{{contract.checkinTime}}</td>
      <td>{{contract.checkoutTime}}</td>
      <td>{{contract.property.id}}</td>
      <td>{{contract.renter.name}}</td>
      <td>{{contract.contractStatus}}</td>
      <td><input type="button" value="Edit" class="btn btn-outline-info"></td>
    </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
