<!--<div>-->
<!--  <label class="offset-md-3" style="color:black">-->
<!--    <label>Chi tiết Nhà </label>-->
<!--  </label>-->
<!--  <button [routerLink]="['/']" class="btn btn-primary offset-md-2"> Trang chủ  </button>-->
<!--</div>-->

<!--<table class="col-4 col-md-4 offset-md-3 mt-1" style="border: gray;border:1px">-->
<!--  <tr>-->
<!--    Tên chủ sở hữu  : {{properties.host.name}}-->
<!--  </tr>-->
<!--  <tr>-->
<!--    Địa chỉ : {{properties.addresses.street}}-->
<!--  </tr>-->
<!--  <tr>-->
<!--    Giá cho thuê: {{properties.price}} /ngày-->
<!--  </tr>-->
<!--  <tr>-->
<!--      <img src="{{properties.images}}" alt="">-->
<!--  </tr>-->
<!--</table>-->

<!--<app-comment></app-comment>-->

