<div class=" col-md-6 offset-md-3">
  <h1 class=" btn btn-primary col-md-6 offset-md-3"> Register <i style="position: relative ; left: 20px"
                                                                 class="fa fa-spin fa-anchor"></i></h1>
  <form [formGroup]="Field" (ngSubmit)="onSubmit()" class=" btn btn-primary col-md-6 offset-md-3">
    <div class="form-group row">
      <label class="col ">
        Email
        <input type="text" class="form-control" formControlName="username">
      </label>
    </div>
    <div class="btn btn-danger" role="alert" *ngIf="Field.get('username').invalid && Field.get('username').touched">
      Username required at least 6 character !
    </div>
      <div class="form-group row">
        <label class="col">
          Password
          <input type="password" class="form-control" formControlName="password">
        </label>
      </div>


    <div class="btb btn-danger " role="alert" *ngIf="Field.get('password').invalid && Field.get('password').touched">
      Password required at least 6 character !
    </div>


    <div class="form-group">
      <button class="btn btn-info" type="submit">Login</button>
    </div>
  </form>
</div>



