<section>
  <img src="../../assets/img/header3.png" height="88" width="1920"/>
  <!--    <img src="../../../assets/img/bg.jpg" height="633" width="1920"/>-->
</section>
<div style="text-align: center" class="container">
  <!--<div class="dropdown show">
                <a class="dropdown-toggle" href="/admin" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  List
                </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="../accounts">Accounts</a>
      <a class="dropdown-item" routerLink="../property">Properties</a>
      <a class="dropdown-item" routerLink="../hosts">Host</a>
    </div>
  </div>-->
<!--  <h2>List User</h2>-->
<label>
  <select>
    <option>List User</option>
    <option>List Host</option>
    <option>Renter</option>
  </select>
</label>
<table class="table table-hover">

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>User</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Status</th>
    <th colspan="3" style="text-align: center">Action</th>
  </tr>

  <tbody>
  <tr *ngFor="let account of accounts">
    <td>{{account.id}}</td>
    <td>{{account.name}}</td>
    <td>{{account.username}}</td>
    <td>{{account.email}}</td>
    <td>{{account.phone}}</td>
    <td>{{account.status}}</td>
    <td><input type="button" value="Detail" class="btn btn-outline-warning"></td>
    <td><input [routerLink]="['account-update', account.id]" type="button" value="Edit" class="btn btn-outline-info">
    </td>
    <td><input (click)="deleteAccount(account.id)" type="button" value="Delete" class="btn btn-outline-danger"></td>
  </tr>
  </tbody>
</table>
</div>
