<div class="container">
  <h2 class="container btn-primary">Danh sach HomeStay <span class="fa fa-gear fa-spin"></span></h2>
  <h4><a routerLink="/create-property"> Create Property</a></h4>
  <select (click)="findPropertyByPropertyType($event.target.value)">
    <option *ngFor="let pro of propertiesType" [value]="pro.name">{{pro.name}}</option>
  </select>
  <table class="table table" style="color: black">
    <thead>
    <tr class="btn-danger">
      <th>Image</th>
      <th>Video</th>
      <th>ID</th>
      <th>Price</th>
      <th>Size</th>
      <th>Bathroom</th>
      <th>BedRooms</th>
      <!--      <th>Host</th>-->
      <th>Address</th>
      <th>PropertiesType</th>
      <th>description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let property of properties" class="btn-dark">
      <td style="width: 200px"><img width="150px" height="200px" src="{{property.images}}"></td>
      <td style="width: 200px">
        <video width="150px" height="200px" src="{{property.videos}}" controls></video>
      </td>
      <td>{{property.id}}</td>
      <td>{{property.price}}</td>
      <td>{{property.size}}</td>
      <td>{{property.bathrooms}}</td>
      <td>{{property.bedrooms}}</td>
      <!--      <td>{{property.host.name}}</td>-->
      <td>{{property.addresses.street}}-{{property.addresses.districts.name}}
        -{{property.addresses.districts.cities.name}}</td>
      <td>{{property.propertiesTypes.name}}</td>
      <td>{{property.description}}</td>
      <td><a [routerLink]="['product-edit', property.id]"><span class="fa fa-edit"></span></a></td>
      <td>
        <button class="btn-primary" (click)="deleteProperty(property.id)"><span class="fa fa-cut"></span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

