<form class="btn btn-block col-8 row-5" style="margin-top: 200px" [formGroup]="Field" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="comment">Bình luận </label>
    <input type="text"  class="form-control" id="comment" placeholder="something....">
    <div class="btn btn-danger" role="alert" *ngIf="Field.get('comment').invalid && Field.get('comment').touched">
      Nhập sai qui định !
    </div>
  </div>
  <div class="form-group">
    <label for="id">Id Comment </label>
    <input type="text"  class="form-control" id="id" placeholder="something....">
  </div>
  <div class="form-group">
    <label for="account">Id Account </label>
    <input type="text"  class="form-control" id="account" [value]="accountabc.id" placeholder="something....">
  </div>
  <div class="form-group">
    <label for="properties">Id Property </label>
    <input type="text"  class="form-control" id="properties" [value]="propertyabc.id" placeholder="something....">
  </div>
  <button type="submit" class="btn btn-primary">Gửi bình luận</button>
</form>





