<div class="container">
  <h3>Add House</h3>
  <h3>{{message}}</h3>
  <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <img [src]="url" alt="">
      <br>
      <br>
      <label for="image">Upload playlist images:</label>
      <input type="file" id="image" (change)="displayImage($event)">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <input type="text" class="form-control" placeholder="Enter price" id="price" formControlName="price">
    </div>
    <div class="form-group">
      <label for="size">size</label>
      <input type="text" class="form-control" placeholder="Enter size" id="size" formControlName="size">
    </div>
    <div class="form-group">
      <label for="bathrooms">bathrooms</label>
      <input type="text" class="form-control" placeholder="Enter bathrooms" id="bathrooms" formControlName="bathrooms">
    </div>
    <div class="form-group">
      <label for="bedrooms">bedrooms</label>
      <input type="text" class="form-control" placeholder="Enter bedrooms" id="bedrooms" formControlName="bedrooms">
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control" placeholder="Enter description" id="description" formControlName="description">
    </div>
    <div class="form-group">
      <label for="host">Host</label>
      <select id="host" class="form-control" formControlName="host" required>
        <option *ngFor="let host of hosts" [ngValue]=host>
          {{host.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">address</label>
      <select id="address" class="form-control" formControlName="address" required>
        <option *ngFor="let address of addresses" [ngValue]=address>
          {{address.street}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">propertyType</label>
      <select id="propertyType" class="form-control" formControlName="propertyType" required>
        <option *ngFor="let propertyType of Types" [ngValue]=propertyType>
          {{propertyType.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
