<div class="container">
  <h3>Add House</h3>
  <h3>{{message}}</h3>
  <h4><a routerLink="/property">List Property</a></h4>
  <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
           role="progressbar" attr.aria-valuenow="{{percentage}}"
           aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{width:percentage+'%'}">
        {{percentage}}%
      </div>
    </div>
    <div class="form-group">
      <img [src]="url" alt="">
      <br>
      <br>
      <div class="uploadImage">
        <label style="cursor: pointer; margin: auto" for="image"><i class="fa fa-upload" aria-hidden="true"></i> Upload
          Images</label>
        <input type="file" id="image" (change)="displayImage($event)" accept="image/*" hidden>
      </div>
    </div>
    <div class="form-group">
      <label for="file">Upload video:</label>
      <input type="file" id="file" (change)="selectFile($event)">
      <!--<p style="color:red;" *ngIf="createSongForm.get('uploadFile').invalid && createSongForm.get('uploadFile').touched">Bạn cần Upload File</p>
      <button class="btn btn-success" [disabled]="!selectedFile" (click)="upload()">Upload</button>-->
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <input type="text" class="form-control" placeholder="Enter price" id="price" formControlName="price">
    </div>
    <div class="form-group">
      <label for="size">size</label>
      <input type="text" class="form-control" placeholder="Enter size" id="size" formControlName="size">
    </div>
    <div class="form-group">
      <label for="bathrooms">bathrooms</label>
      <input type="text" class="form-control" placeholder="Enter bathrooms" id="bathrooms" formControlName="bathrooms">
    </div>
    <div class="form-group">
      <label for="bedrooms">bedrooms</label>
      <input type="text" class="form-control" placeholder="Enter bedrooms" id="bedrooms" formControlName="bedrooms">
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control" placeholder="Enter description" id="description"
             formControlName="description">
    </div>
    <!--    <div class="form-group">-->
    <!--      <label for="host">Host</label>-->
    <!--      <select id="host" class="form-control" formControlName="host" required>-->
    <!--        <option *ngFor="let host of hosts" [ngValue]=host>-->
    <!--          {{host.name}}-->
    <!--        </option>-->
    <!--      </select>-->
    <!--    </div>-->
    <div class="form-group">
      <label for="address">address</label>
      <select id="address" class="form-control" formControlName="addresses" required>
        <option *ngFor="let address of addresses" [ngValue]=address>
          {{address.street}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">propertyType</label>
      <select id="propertyType" class="form-control" formControlName="propertiesTypes" required>
        <option *ngFor="let propertyType of Types" [ngValue]=propertyType>
          {{propertyType.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
