
<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo">
          <a href="./index.html">
            <img src="../../../assets/img/logo.png" height="31" width="100" alt="logo"/>
          </a>

          <ul class="main-menu" routerLinkActive="active">
            <li>
              <a href="/home" class="nav-link" routerLink="home">TOAM</a>
            </li>
            <li *ngIf="showAdminBoard">
              <a class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="../accounts">Accounts</a>
              <a class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="../property">Properties</a>
            </li>
            <li *ngIf="showHostBoard">
              <a href="/host"class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="host">Host Board</a>
            </li>
            <li *ngIf="showRenterBoard">
              <a href="/renter" class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="renter">Renter Board</a>
            </li>
          </ul>

        </div>
        <ul class="main-menu" *ngIf="!isLoggedIn">
          <li><a href="/register" class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="register">Register</a></li>
          <li><a href="/login" class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="login">Sign In</a></li>
        </ul>

        <ul class="main-menu" *ngIf="isLoggedIn">
          <li>
            <a href="/profile" class="btn btn-success" style="background-color: rgb(138, 209, 68); border-color: rgb(138, 209, 68)" routerLink="profile">{{ username }}</a>
          </li>
          <li>
            <a class="btn btn-danger" style="background-color: #30304e;border-color: #30304e; color:white" (click)="logout()">Log Out</a>
          </li>
        </ul>

        <div id="mobile-menu-wrap"></div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->

<router-outlet></router-outlet>
