
<div id="app">
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">TOAM.XXX</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">

    <li class="nav-item">
      <a href="/home" class="nav-link" routerLink="home">Home </a>
    </li>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
    </li>
    <li class="nav-item" *ngIf="showHostBoard">
      <a href="/host" class="nav-link" routerLink="host">Host Board</a>
    </li>
    <li class="nav-item" *ngIf="showRenterBoard">
      <a href="/renter" class="nav-link" routerLink="renter">Renter Board</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link" routerLink="login">Sign In</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">Log Out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo">
          <a href="./index.html">
            <img src="../../../assets/img/logo.png" height="31" width="100" alt="logo"/>
          </a>

          <ul class="main-menu" routerLinkActive="active">
            <li>
              <a href="/home" class="nav-link" routerLink="home">TOAM</a>
            </li>
            <li  *ngIf="showAdminBoard">
              <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
            </li>
            <li  *ngIf="showHostBoard">
              <a href="/host" class="nav-link" routerLink="host">Host Board</a>
            </li>
            <li  *ngIf="showRenterBoard">
              <a href="/renter" class="nav-link" routerLink="renter">Renter Board</a>
            </li>
          </ul>

        </div>
        <ul class="main-menu" *ngIf="!isLoggedIn">
          <li><a href="/register" class="nav-link" routerLink="register">Register</a></li>
          <li><a href="/login" class="nav-link" routerLink="login">Sign In</a></li>
        </ul>

        <ul class="main-menu" *ngIf="isLoggedIn">
          <li>
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li>
            <a href class="nav-link" (click)="logout()">Log Out</a>
          </li>
        </ul>

        <div id="mobile-menu-wrap"></div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->

<router-outlet></router-outlet>
