<app-layout-header></app-layout-header>
<section>
  <div class="container">
    <span style="font-weight: bold">{{property.name}}</span><br>
    <p><img src="../../../assets/img/counter-icon/1.png" height="41" width="41"/>
      {{property.addresses.street}}, {{property.addresses.districts.name}}, {{property.addresses.districts.cities.name}}</p>
    <img src="../../../assets/img/rooms/2.jpg" height="307" width="460"/>
    <p>
      {{property.description}}
    </p>
    <button class="btn btn-primary">Order now!</button>
  </div>
</section>
<app-layout-footer></app-layout-footer>
