<app-layout-header></app-layout-header>
<section>
  <div class="container">
    <span style="font-weight: bold">Country Style House with beautiful garden and terrace</span><br>
    <p><img src="../../assets/img/counter-icon/1.png" height="41" width="41"/>39, Lane 53, Yen Lang Street, Dong Da District, Quận Đống Đa, Hà Nội, Việt Nam</p>
    <img src="../../assets/img/rooms/2.jpg" height="307" width="460"/>
    <p>
      Tọa lạc tại thành phố Hà Nội, cách Sân vận động Mỹ Đình 1,5 km và trung tâm thương mại Vincom Center Nguyễn Chí Thanh 3,6 km, ISTAY Hotel Apartment 5 cung cấp chỗ nghỉ với Wi-Fi miễn phí và vườn kèm sân hiên cùng tầm nhìn ra vườn.<br>

      Các phòng nghỉ lắp máy điều hòa tại đây có bếp đầy đủ tiện nghi với khu vực phòng ăn, lò nướng, ấm đun nước và lò vi sóng. Phòng tắm riêng trong mỗi phòng nghỉ đi kèm chậu rửa vệ sinh, đồ vệ sinh cá nhân miễn phí và máy sấy tóc.<br>

      Khách sạn căn hộ cung cấp bữa sáng kiểu gọi món hoặc kiểu Á.
    </p>
    <button class="btn btn-primary">Order now!</button>
  </div>
</section>
<app-layout-footer></app-layout-footer>
