<app-layout-header></app-layout-header>
<app-search-form></app-search-form>
<!-- Map Section Begin -->
<div class="map-section" style="position: relative; margin-top: -68px">
  <div class="container-fluid">
    <div class="row">
      <div class="map">
        <iframe src="https://www.google.com/maps?q=codegym&output=embed" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- Map Section End -->

<!-- Hotel Room Section Begin -->
<section class="hotel-rooms spad-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 p-45">
        <div class="found-items">
          <h4>We found <span>6</span> properties: Hàng trưng bày</h4>
          <select class="date-select">
            <option value="0">Date New to Old</option>
            <option value="1">Old</option>
            <option value="2">New</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-md-6">
        <div class="room-items">
          <div class="room-img set-bg" data-setbg="img/rooms/1.jpg">
            <a href="#" class="room-content">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="room-text">
            <div class="room-details">
              <div class="room-title">
                <h5>Country Style House with beautiful garden and terrace</h5>
                <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
              </div>
            </div>
            <div class="room-features">
              <div class="room-info">
                <div class="size">
                  <p>Lot Size</p>
                  <img src="img/rooms/size.png" alt="">
                  <i class="flaticon-bath"></i>
                  <span>2561 sqft</span>
                </div>
                <div class="beds">
                  <p>Beds</p>
                  <img src="img/rooms/bed.png" alt="">
                  <span>9</span>
                </div>
                <div class="baths">
                  <p>Baths</p>
                  <img src="img/rooms/bath.png" alt="">
                  <span>2</span>
                </div>
                <div class="garage">
                  <p>Garage</p>
                  <img src="img/rooms/garage.png" alt="">
                  <span>1</span>
                </div>
              </div>
            </div>
            <div class="room-price">
              <p>For Sale</p>
              <span>$345,000</span>
            </div>
            <a href="#" class="site-btn btn-line">View Property</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-6">
        <div class="room-items">
          <div class="room-img set-bg" data-setbg="img/rooms/2.jpg">
            <a href="#" class="room-content">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="room-text">
            <div class="room-details">
              <div class="room-title">
                <h5>Country Style House with beautiful garden and terrace</h5>
                <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
              </div>
            </div>
            <div class="room-features">
              <div class="room-info">
                <div class="size">
                  <p>Lot Size</p>
                  <img src="img/rooms/size.png" alt="">
                  <i class="flaticon-bath"></i>
                  <span>2561 sqft</span>
                </div>
                <div class="beds">
                  <p>Beds</p>
                  <img src="img/rooms/bed.png" alt="">
                  <span>9</span>
                </div>
                <div class="baths">
                  <p>Baths</p>
                  <img src="img/rooms/bath.png" alt="">
                  <span>2</span>
                </div>
                <div class="garage">
                  <p>Garage</p>
                  <img src="img/rooms/garage.png" alt="">
                  <span>1</span>
                </div>
              </div>
            </div>
            <div class="room-price">
              <p>For Sale</p>
              <span>$345,000</span>
            </div>
            <a href="#" class="site-btn btn-line">View Property</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-6">
        <div class="room-items">
          <div class="room-img set-bg" data-setbg="img/rooms/3.jpg">
            <a href="#" class="room-content">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="room-text">
            <div class="room-details">
              <div class="room-title">
                <h5>Country Style House with beautiful garden and terrace</h5>
                <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
              </div>
            </div>
            <div class="room-features">
              <div class="room-info">
                <div class="size">
                  <p>Lot Size</p>
                  <img src="img/rooms/size.png" alt="">
                  <i class="flaticon-bath"></i>
                  <span>2561 sqft</span>
                </div>
                <div class="beds">
                  <p>Beds</p>
                  <img src="img/rooms/bed.png" alt="">
                  <span>9</span>
                </div>
                <div class="baths">
                  <p>Baths</p>
                  <img src="img/rooms/bath.png" alt="">
                  <span>2</span>
                </div>
                <div class="garage">
                  <p>Garage</p>
                  <img src="img/rooms/garage.png" alt="">
                  <span>1</span>
                </div>
              </div>
            </div>
            <div class="room-price">
              <p>For Sale</p>
              <span>$345,000</span>
            </div>
            <a href="#" class="site-btn btn-line">View Property</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-6">
        <div class="room-items">
          <div class="room-img set-bg" data-setbg="img/rooms/4.jpg">
            <a href="#" class="room-content">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="room-text">
            <div class="room-details">
              <div class="room-title">
                <h5>Country Style House with beautiful garden and terrace</h5>
                <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
              </div>
            </div>
            <div class="room-features">
              <div class="room-info">
                <div class="size">
                  <p>Lot Size</p>
                  <img src="img/rooms/size.png" alt="">
                  <i class="flaticon-bath"></i>
                  <span>2561 sqft</span>
                </div>
                <div class="beds">
                  <p>Beds</p>
                  <img src="img/rooms/bed.png" alt="">
                  <span>9</span>
                </div>
                <div class="baths">
                  <p>Baths</p>
                  <img src="img/rooms/bath.png" alt="">
                  <span>2</span>
                </div>
                <div class="garage">
                  <p>Garage</p>
                  <img src="img/rooms/garage.png" alt="">
                  <span>1</span>
                </div>
              </div>
            </div>
            <div class="room-price">
              <p>For Sale</p>
              <span>$345,000</span>
            </div>
            <a href="#" class="site-btn btn-line">View Property</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-6">
        <div class="room-items">
          <div class="room-img set-bg" data-setbg="img/rooms/5.jpg">
            <a href="#" class="room-content">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="room-text">
            <div class="room-details">
              <div class="room-title">
                <h5>Country Style House with beautiful garden and terrace</h5>
                <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
              </div>
            </div>
            <div class="room-features">
              <div class="room-info">
                <div class="size">
                  <p>Lot Size</p>
                  <img src="img/rooms/size.png" alt="">
                  <i class="flaticon-bath"></i>
                  <span>2561 sqft</span>
                </div>
                <div class="beds">
                  <p>Beds</p>
                  <img src="img/rooms/bed.png" alt="">
                  <span>9</span>
                </div>
                <div class="baths">
                  <p>Baths</p>
                  <img src="img/rooms/bath.png" alt="">
                  <span>2</span>
                </div>
                <div class="garage">
                  <p>Garage</p>
                  <img src="img/rooms/garage.png" alt="">
                  <span>1</span>
                </div>
              </div>
            </div>
            <div class="room-price">
              <p>For Sale</p>
              <span>$345,000</span>
            </div>
            <a href="#" class="site-btn btn-line">View Property</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-6">
        <div class="room-items">
          <div class="room-img set-bg" data-setbg="img/rooms/6.jpg">
            <a href="#" class="room-content">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="room-text">
            <div class="room-details">
              <div class="room-title">
                <h5>Country Style House with beautiful garden and terrace</h5>
                <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
              </div>
            </div>
            <div class="room-features">
              <div class="room-info">
                <div class="size">
                  <p>Lot Size</p>
                  <img src="img/rooms/size.png" alt="">
                  <i class="flaticon-bath"></i>
                  <span>2561 sqft</span>
                </div>
                <div class="beds">
                  <p>Beds</p>
                  <img src="img/rooms/bed.png" alt="">
                  <span>9</span>
                </div>
                <div class="baths">
                  <p>Baths</p>
                  <img src="img/rooms/bath.png" alt="">
                  <span>2</span>
                </div>
                <div class="garage">
                  <p>Garage</p>
                  <img src="img/rooms/garage.png" alt="">
                  <span>1</span>
                </div>
              </div>
            </div>
            <div class="room-price">
              <p>For Sale</p>
              <span>$345,000</span>
            </div>
            <a href="#" class="site-btn btn-line">View Property</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hotel Room Section End -->


<app-layout-footer></app-layout-footer>
