<!-- Page Preloder -->
<!--<div id="preloder">-->
<!--  <div class="loader"></div>-->
<!--</div>-->

<app-layout-header></app-layout-header>

<!-- Hotel Room Section Begin -->
<app-properties></app-properties>
<!-- Hotel Room Section End -->

<!-- Popular Room Section Begin -->
<!--<section class="popular-room set-bg p-in" data-setbg="img/bg-2.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="slider-active owl-carousel">
          <div class="popular-items">
            <div class="popular-room-text">
              <div class="popular-room-details">
                <div class="popular-room-title">
                  <h5>Spacious Modern Smart House</h5>
                  <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                  <a href="#"><i class="flaticon-cursor"></i> <span>Show on Map</span></a>
                </div>
              </div>
              <div class="popular-room-description">
                <div class="popular-room-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales
                    commodo ex sed pellentesque. Aliquam vitae purus sed dolor hendrerit
                    vehicula imperdiet sed justo. magna.</p>
                </div>
              </div>
              <div class="popular-room-features">
                <div class="popular-room-info">
                  <div class="size">
                    <p>Lot Size</p>
                    <img src="img/rooms/size.png" alt="">
                    <i class="flaticon-bath"></i>
                    <span>2561 sqft</span>
                  </div>
                  <div class="beds">
                    <p>Beds</p>
                    <img src="img/rooms/bed.png" alt="">
                    <span>9</span>
                  </div>
                  <div class="baths">
                    <p>Baths</p>
                    <img src="img/rooms/bath.png" alt="">
                    <span>2</span>
                  </div>
                  <div class="garage">
                    <p>Garage</p>
                    <img src="img/rooms/garage.png" alt="">
                    <span>1</span>
                  </div>
                </div>
              </div>
              <div class="popular-room-price">
                <p>For Sale</p>
                <span>$345,000</span>
                <span class="deal">Best Deal</span>
              </div>
              <a href="#" class="site-btn btn-line">View Property</a>
            </div>
          </div>
          <div class="popular-items">
            <div class="popular-room-text">
              <div class="popular-room-details">
                <div class="popular-room-title">
                  <h5>Spacious Modern Smart House</h5>
                  <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                  <a href="#"><i class="flaticon-cursor"></i> <span>Show on Map</span></a>
                </div>
              </div>
              <div class="popular-room-description">
                <div class="popular-room-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales
                    commodo ex sed pellentesque. Aliquam vitae purus sed dolor hendrerit
                    vehicula imperdiet sed justo. magna.</p>
                </div>
              </div>
              <div class="popular-room-features">
                <div class="popular-room-info">
                  <div class="size">
                    <p>Lot Size</p>
                    <img src="img/rooms/size.png" alt="">
                    <i class="flaticon-bath"></i>
                    <span>2561 sqft</span>
                  </div>
                  <div class="beds">
                    <p>Beds</p>
                    <img src="img/rooms/bed.png" alt="">
                    <span>9</span>
                  </div>
                  <div class="baths">
                    <p>Baths</p>
                    <img src="img/rooms/bath.png" alt="">
                    <span>2</span>
                  </div>
                  <div class="garage">
                    <p>Garage</p>
                    <img src="img/rooms/garage.png" alt="">
                    <span>1</span>
                  </div>
                </div>
              </div>
              <div class="popular-room-price">
                <p>For Sale</p>
                <span>$345,000</span>
                <span class="deal">Best Deal</span>
              </div>
              <a href="#" class="site-btn btn-line">View Property</a>
            </div>
          </div>
          <div class="popular-items">
            <div class="popular-room-text">
              <div class="popular-room-details">
                <div class="popular-room-title">
                  <h5>Spacious Modern Smart House</h5>
                  <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                  <a href="#"><i class="flaticon-cursor"></i> <span>Show on Map</span></a>
                </div>
              </div>
              <div class="popular-room-description">
                <div class="popular-room-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales
                    commodo ex sed pellentesque. Aliquam vitae purus sed dolor hendrerit
                    vehicula imperdiet sed justo. magna.</p>
                </div>
              </div>
              <div class="popular-room-features">
                <div class="popular-room-info">
                  <div class="size">
                    <p>Lot Size</p>
                    <img src="img/rooms/size.png" alt="">
                    <i class="flaticon-bath"></i>
                    <span>2561 sqft</span>
                  </div>
                  <div class="beds">
                    <p>Beds</p>
                    <img src="img/rooms/bed.png" alt="">
                    <span>9</span>
                  </div>
                  <div class="baths">
                    <p>Baths</p>
                    <img src="img/rooms/bath.png" alt="">
                    <span>2</span>
                  </div>
                  <div class="garage">
                    <p>Garage</p>
                    <img src="img/rooms/garage.png" alt="">
                    <span>1</span>
                  </div>
                </div>
              </div>
              <div class="popular-room-price">
                <p>For Sale</p>
                <span>$345,000</span>
                <span class="deal">Best Deal</span>
              </div>
              <a href="#" class="site-btn btn-line">View Property</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Popular Room Section End -->
<app-layout-footer></app-layout-footer>


