<div class="container">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Renter</div>
    <div class="card-body">
      <h5 class="card-title">Thông tin chi tiết Renter</h5>
      <p class="card-text">Tên người dùng:{{renterDetail.name}}</p>
      <p class="card-text">Tên Tài Khoản:{{renterDetail.username}}</p>
      <p class="card-text">Mật Khẩu: {{renterDetail.password}}</p>
      <p class="card-text">Số Điện Thoại:{{renterDetail.phone}}</p>
      <p class="card-text">Email:{{renterDetail.email}}</p>
    </div>
  </div>
</div>
