<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title" style="text-align: center">Đăng Kí Tài Khoản</h2>
        <p style="color: red">{{message}}</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <input class="input--style-1" type="text" placeholder="Nhập tên người dùng" name="name" formControlName="name">
        <p style="color:red;" *ngIf="form.get('name').invalid && form.get('name').touched">Bạn cần nhập số kí tự lớn hơn 6</p>
          </div>
          <div class="input-group">
            <input class="input--style-1" type="text" placeholder="Nhập tên tài khoản" formControlName="username">
            <p style="color:red;" *ngIf="form.get('username').invalid && form.get('username').touched">Bạn cần nhập số kí tự lớn hơn 6</p>
          </div>
          <div class="input-group">
            <input class="input--style-1" type="password" placeholder="Nhập Mật Khẩu" name="password" formControlName="password">
            <p style="color:red;" *ngIf="form.get('password').invalid && form.get('password').touched">Bạn cần nhập số kí tự lớn hơn 6</p>

          </div>
          <div class="input-group">
            <input class="input--style-1" type="email" placeholder="Nhập email" name="email" formControlName="email">
            <p style="color:red;" *ngIf="form.get('email').invalid && form.get('email').touched">Bạn phải có @gmail.com</p>

          </div>
          <div class="input-group">
            <input class="input--style-1" type="text" placeholder="Nhập Số Điện Thoại" name="phone" formControlName="phone">
            <p style="color:red;" *ngIf="form.get('phone').invalid && form.get('phone').touched">Bạn phải nhập 10 số</p>
          </div>
          <div class="row row-space">
            <div class="col-3">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <label>Vai Trò</label>
                  <select formControlName="role">
                    <option  selected="selected" *ngFor="let role of roles" [ngValue]=role>{{role.name}}</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-t-20">
            <button class="btn btn--radius btn--green" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





