<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->
<h1>{{message}}</h1>
<div class="container">
  <div class="row">
    <div class="col-6" style="border: 1px solid blue;background-color: powderblue; margin-left: 300px;margin-top: 50px">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3 style="text-align: center">Đăng Kí Tài Khoản</h3>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
            <div *ngIf="form.get('name').invalid && form.get('name').touched" style="color: red">
              Name is required and min length is 6
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>UserName</label>
            <input type="text" class="form-control" placeholder="UserName" formControlName="username">
            <div *ngIf="form.get('username').invalid && form.get('username').touched" style="color: red">
              Name is required and min length is 6
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" formControlName="password"
                   placeholder="Password">
            <div *ngIf="form.get('password').invalid && form.get('password').touched" style="color: red">
              Password is required and min length is 6
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email">
            <div *ngIf="form.get('email').invalid && form.get('email').touched" style="color: red">
              Email is required and have @
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Phone</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="Phone Number">
            <div *ngIf="form.get('phone').invalid && form.get('phone').touched" style="color: red">
              Phone is required and min length is 6
            </div>
          </div>
            <label>Role</label>
            <select id="select_substrate" name="role" formControlName="role" required>
              <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
            </select>

          </div>
        <div style="margin-left: 230px">
          <button type="submit" class="btn btn-primary">Đăng Kí</button>
        </div>
      </form>
    </div>
  </div>
</div>
